body {
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #503B31;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);

  }
  
header div {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
header img {
    width: 100px;
    height: auto;
    margin: 18px;
    margin-right: 8px;
  }
  
header nav {
    margin-top: 20px;
    padding: 15px;
  }
  
header nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
header nav a:hover {
    color: #817b7b;
  }
  
  @media screen and (max-width: 768px) {
header h1 {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 28px;
    }
    
  
header nav a {
      font-size: 16px;
      margin: 0 10px;
    }
  }

footer{
    color: #ddd;
    margin-top: 5%;
    padding: 30px;
    background-color: #503B31;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer a{
    color: #ddd;
    text-decoration: none;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgdestacados {
  width: 350px;
  height: 350px;
  padding: 30px; 
  flex-direction: row;
  border-radius: 35px;
}
@media screen and (max-width: 768px) {
  .imgdestacados {
    width: 350px;
    height: 350px;
    padding: 30px; 
    flex-direction: column;
    border-radius: 35px;
  }
}

.consulta-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  margin-top: 8px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  text-align: center;
  color: #333333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  margin: 15px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h4 {  
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

label {
  display: flexbox;
  margin-top: 15px;
  font-weight: bold;
  color: #555555;
}

input[type="text"],
textarea {
  width: 98%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
}

input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 10px;
  margin: 17px;
  margin-left: 0px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
}

input[type="submit"]:hover {
  opacity: 0.8;
  color: #ffffff;
}

.preguntas-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.somos-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
